.detail p {
	font-size: 20px;
}
.detail ol li {
	font-size: 20px;
	margin-left: 25px;
}
.semester table {
	margin-bottom: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
h3 {
	font-weight: bold;
	font-size: 35px;
	color: red;
	font-style: italic;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
@media only screen and (max-width: 500px) {
	td, th {
		font-size: 9px;
	}
}