body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}
h2 {
	color: green;
	font-size: 35px;
	margin: 60px 0px;
}
.Syllabus p {
	margin-bottom: 40px;
	font-size: 20px;
}
